
body{
    background-color: #0d21d5;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: black;

}
span{
    width: 150px;
    height: 150px;

    border-radius: 50%;
    background-color: #fff;
}